@using System.Linq
@using System.Xml.Linq
@using umbraco.MacroEngines
@using uBlogsy.Common.Extensions
@using uBlogsy.Common.Helpers
@using uBlogsy.BusinessLogic
@{
    const int ITEMS_PER_PAGE = 20; // for testing
    
    // get item count
    int count = int.Parse(@Parameter.ItemCount);

    IEnumerable<DynamicNode> nodes;

    
        var posts = PostService.Instance.GetPosts(1227);
        nodes = ((IEnumerable<DynamicNode>)posts).Take(count);
        
        <div class="uBlogsy_posts_container uBlogsy_bottom_border">
        <h2>@Dictionary["uBlogsyDicPostsLatest"]</h2>
            <ul>
                @foreach (DynamicNode n in nodes)
                {
                    <li>
                        <a href="@n.Url" title="@n.GetProperty("uBlogsyContentTitle").Value">
                            <span>@n.GetProperty("uBlogsyContentTitle").Value</span>
                        </a>
                       @* - <span>@n.GetProperty("uBlogsyPostDate").Value.FormatDateTimeOrdinal("d MMMM yyyy")</span>*@
                    </li>
                }
            </ul>
        </div>
}
    